/* This is a class selector. '.' is used to select elements. */
.main-heading {
  color: red;
  text-align: center;
  font-size: 50px;
}

.sub-heading {
  color: blue;
  font-size: 30px;
}

/* This is an ID selector. '#' is used to select elements. */
#paragraph1 {
  color: green;
  font-size: 20px;
}

#paragraph2 {
  color: purple;
  font-size: 20px;
}
